@import '../../styles/variables';

.title {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  color: $medium-grey;
  &::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 7px;
    background: $one-another-blue;
    bottom: -15px;
    left: 0;
  }
}
.subTitle {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: $one-another-blue;
  margin: 10px 0px 35px 0px;
  &::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background: currentColor;
    bottom: -10px;
    left: 0;
  }
}
