@import '../../styles/variables';

.appContent {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: row;
}

.productImageContainer {
  border: $light-grey 1px solid;
  border-radius: 20px;
}

.productImage {
  max-height: 400px;
  max-width: 100%;
  border-radius: 20px;
  height: auto;
}

.productTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 40px;
}
.productPrice {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.productDescription {
  font-size: 16px;
  color: $medium-grey;
  line-height: 20px;
  margin-bottom: 20px;
}

.flexRow {
  flex-direction: row;
  display: flex;
}

.addToCartButton {
  margin-top: 30px;
  margin-right: 20px;
  width: 90%;
}

.favoriteButton {
  margin-top: 30px;
  width: 50px;
}

.quantityInputContainer {
  border: 1px $medium-grey solid;
  padding: 5px 10px;
  border-radius: 100px;
  // width: 90%;
  color: $dark-grey;
  font-size: 18px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
}

.quantityInput {
  border: none;
  width: 50%;
  outline: none;
  align-items: center;
  text-align: center;
  color: $dark-grey;
  font-size: 18px;
}

.quantityButton {
  background-color: $white;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  border: 1px solid $light-grey;
  color: $dark-grey;
  font-size: 16px;
  font-weight: bold;
}

.quantityButton:hover {
  background-color: $light-grey;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.addToWishlist {
  margin-top: 30px;
  display: flex;
  place-content: center;
  place-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 0;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 0 2px #536980;
  svg {
    width: 20px;
  }

  &:hover,
  :focus {
    box-shadow: none;
    color: $white;
    background: #536980;
  }
}

.addToWishlist {
  svg {
    stroke: #536980;
  }

  &:hover {
    svg {
      stroke: #fff;
    }
  }
}
